.content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: calc(100vh - 98px);
    margin: 16px 32px 16px 32px;
    padding: 20px;
}

.book-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.book-card-container {
    width: calc(32% - 12px);
    margin-bottom: 24px;
}

.book-card {
    height: 100%;
    width: 100%;
}

.book-button {
    align-self: flex-end;
}

.book-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 12px;
    object-fit: scale-down;
}

.book-title-author-content {
    text-align: center;
}

.book-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.book-author {
    font-size: 1rem;
    color: #666;
    margin-bottom: 4px;
}

.booklist-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}