<div class="card card-request ">
    <div class="icon-request">
        <mat-icon fontIcon="swipe_right" class="icon"></mat-icon>
    </div>
    <div class="card-text-container ">
        <span class="card-text-header ">34</span>
        <span class="card-text"> Requests</span>
    </div>
</div>
<div class="card card-books ">
    <div class="icon-books"> 
        <mat-icon fontIcon="books" class="icon"></mat-icon></div>
    <div class="card-text-container ">
        <span class="card-text-header "> 50 </span>
        <span class="card-text"> Books </span>
    </div>
</div>
<div class="card card-users ">
    <div class="icon-users">
        <mat-icon fontIcon="person" class="icon"></mat-icon>
    </div>
    <div class="card-text-container ">
        <span class="card-text-header "> 300 </span>
        <span class="card-text"> Users </span>
    </div>
</div>

