<mat-toolbar color="primary">
    <span>Welcome Baack</span>
    <mat-toolbar-row >
        <button mat-button routerLink="/home">
            <span>Home</span>
        </button>

        <button mat-button routerLink="/requested-books">
            <span>Request</span>
        </button>

        <button mat-button>
            <span>Books</span>
        </button>

        <button mat-button>
            <span>User</span>
        </button>
       <app-profile-badge></app-profile-badge>
    </mat-toolbar-row>
</mat-toolbar>