<app-tool-bar></app-tool-bar>
<div class="content mat-elevation-z2">
<mat-grid-list cols="4" rowHeight="2:1" style="margin-left: 10px;">
      <mat-grid-tile colspan="3" rowspan="1">
        <app-stats-card></app-stats-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <app-weather-card></app-weather-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="2">
        <app-recent-requested-books></app-recent-requested-books>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<app-footer></app-footer>